* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}
body {
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 20px;
   height: 100vh;
   width: 100%;
   background: #000;
}

.main {
   color: aliceblue;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   gap: 20px;
   height: 100vh;
   width: 100%;
   background: #000;
}

.main div{
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 20px;
}

.main div img {
   width: 75%;
}

.main div a {
   padding: 0;
   margin: 0;
   width: auto;
   display: flex;
   align-items: center;
   justify-content: center;
}